In [409]:
import scipy.io
from sklearn import svm
import os
import pandas as pd
import numpy as np
from mat4py import loadmat

## Reading data from files
### Save y data from one subject to .csv

In [410]:
mydir = 'TrainCharacters'
count = 0
for fname in os.listdir(mydir):
    count+=1
count #number of files

49

In [412]:
y = np.zeros((180,1))
mydir = 'TrainCharacters'
cnt = 0 
for fname in os.listdir(mydir):
    cnt+=1
    fpath = os.path.join(mydir, fname)
    #currentY = scipy.io.loadmat(fpath).get('y')  
    currentY = loadmat(fpath).get('y')
    y = np.vstack((y, currentY))
    if(cnt == 16):
        break
y.shape

ParseError: Can only read from Matlab level 5 MAT-files

In [ ]:
y = y[180:, :]  #Delete first 180 zero rows
y.shape

In [ ]:
y

In [ ]:

# save numpy array as csv file
# save to csv file
np.savetxt('S21_y.csv', y, delimiter=',')

### Save X data to csv file

In [ ]:
x = np.zeros((180,140))
mydir = 'TrainCharacters'
cnt = 0 
for fname in os.listdir(mydir):
    cnt+=1
    fpath = os.path.join(mydir, fname)
    #currentY = scipy.io.loadmat(fpath).get('y')  
    currentX = loadmat(fpath).get('x')
    #currentY = dataset.get('y')
    x = np.vstack((x, currentX))
    if(cnt == 16):
        break
x.shape

In [ ]:
x

In [ ]:
#remove zeros 
x = x[180:, :]

In [ ]:
x.shape

In [ ]:
np.savetxt('S21_x.csv', x, delimiter=',')

In [ ]:
x

### Read Code variable and save to .csv

In [ ]:
code = np.zeros((180,1))
mydir = 'TrainCharacters'
cnt = 0 
for fname in os.listdir(mydir):
    cnt+=1
    fpath = os.path.join(mydir, fname) 
    currentCode = loadmat(fpath).get('code')
    code = np.vstack((code, currentCode))
    if(cnt == 16):
        break
code.shape

In [ ]:
#remove zeros 
code = code[180:, :]

In [ ]:
print(code.shape)
code

In [ ]:
np.savetxt('S21_code.csv', code, delimiter=',')

### Check our CSV data files

In [163]:
dataCode = pd.read_csv("S7_code.csv", header = None) 
dataCode

         0
0      3.0
1      8.0
2      4.0
3      6.0
4     11.0
...    ...
2875   1.0
2876   7.0
2877  12.0
2878  10.0
2879   4.0

[2880 rows x 1 columns]

In [116]:
dataX = pd.read_csv("S4_x.csv", header = None) 
dataX

,0,1,2,3,4,5,6,7,8,9,...,130,131,132,133,134,135,136,137,138,139
0,-1420.973904,-3568.261745,2389.298052,3488.167070,2164.287410,3515.829064,2054.001485,1558.983156,-44.426367,-2583.464771,...,4233.055468,6150.637104,4999.926935,4703.125551,2233.743961,-1306.484701,-1311.108595,-569.129442,-1666.838434,-2461.333730
1,1425.271138,3845.915239,2178.865856,1840.409081,-48.742114,-2162.807185,759.287029,4655.162866,2612.773318,654.993388,...,3479.764036,58.584602,-496.629814,1172.580325,-1616.471362,-1207.000213,1416.239774,-587.321910,-1024.314642,-300.112690
2,-142.061099,-951.585052,1347.188840,5487.101345,3375.847486,1245.901901,3526.014360,3310.244959,2549.406022,3346.250120,...,206.434577,659.457901,3657.010305,423.954927,1611.027871,1808.910347,164.108684,1248.126402,1488.278328,1170.592043
3,941.311698,2576.822997,4006.115756,4077.841254,3124.845375,4083.518594,4772.343253,5071.104441,2687.911616,1123.726902,...,2145.830065,2752.887396,691.090342,2241.135215,1699.624496,-1.195357,2220.815013,3344.289564,2588.374320,2279.192978
4,1230.491990,5621.680043,5915.851614,6210.406594,3873.031258,2073.881884,4173.814256,3103.081668,1700.601151,1183.023119,...,2605.409531,591.009692,3020.948664,4061.382144,2780.406816,4140.150874,3550.232860,1658.000581,1853.464943,2241.447017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,-388.066485,-3464.671417,-1946.147526,-1525.612356,705.817987,4700.938790,1452.642324,1419.087578,735.596637,-641.103137,...,-1654.846317,-2116.658056,1140.778740,1447.677569,-2226.745873,-2382.323159,34.881274,-2274.382005,-5272.522158,-5796.575277
2876,721.560917,3714.165688,971.538653,346.304828,612.236286,-1942.083486,4703.317742,774.006426,-8585.862835,-620.012924,...,-2945.225133,-3505.976268,-470.130617,-3165.205340,-6548.891564,-3701.199800,44.534712,2688.707158,2989.169729,2340.456859
2877,-33.244942,-1077.924247,5134.706941,1335.339278,-7969.343910,-313.076227,1615.671873,-3543.621868,323.283267,559.259938,...,-7195.497605,-3822.035539,-597.111902,2355.968544,3371.158166,-1441.132784,-4302.641541,-1063.905504,2527.267287,3550.952757
2878,-1984.011800,-1376.205006,1957.508177,-3418.409540,314.716044,666.543933,-4725.051386,-3826.411751,2586.244260,6016.328070,...,2085.807161,-2382.331557,-5508.010592,-2019.678121,1689.759107,2381.749747,557.882055,-1723.385125,-2371.909363,-2180.678300
2879,1106.409237,-110.996112,-4955.096250,-4452.600137,2287.954631,5606.332926,-2173.631466,-6015.366887,-3308.699987,-1788.715703,...,1258.794850,1368.531929,245.380512,-2312.368633,-3666.619988,-457.328430,-936.315658,-2837.475859,-666.182069,852.513380

In [117]:
dataY = pd.read_csv("S4_y.csv", header = None) 
dataY

        0
0     1.0
1    -1.0
2    -1.0
3    -1.0
4    -1.0
...   ...
2875 -1.0
2876 -1.0
2877 -1.0
2878  1.0
2879  1.0

[2880 rows x 1 columns]